/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/behavior/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/constraints/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/constraints/checkpoints
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/constraints/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/editor/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/intentions/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/structure/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/structure/checkpoints
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/structure/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/typesystem/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/typesystem/checkpoints
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/typesystem/trace.info
/languages/jetbrains.mps.samples.Shapes/classes_gen/jetbrains/mps/samples/Shapes/trace.info
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/jetbrains/mps/samples/Shapes/generator/template/main/QueriesGenerated.java
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/jetbrains/mps/samples/Shapes/generator/template/main/trace.info
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/jetbrains/mps/samples/Shapes/Generator.java
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/jetbrains/mps/samples/Shapes/trace.info
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/util/ColorReferenceResolver.java
/languages/jetbrains.mps.samples.Shapes/generator/source_gen/util/trace.info
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/jetbrains/mps/samples/Shapes/generator/template/main/dependencies
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/jetbrains/mps/samples/Shapes/generator/template/main/generated
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/jetbrains/mps/samples/Shapes/dependencies
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/jetbrains/mps/samples/Shapes/generated
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/util/dependencies
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/util/generated
/languages/jetbrains.mps.samples.Shapes/generator/source_gen.caches/deps.cp
/languages/jetbrains.mps.samples.Shapes/sandbox/source_gen/jetbrains/mps/samples/Shapes/sandbox/MyDrawing.java
/languages/jetbrains.mps.samples.Shapes/sandbox/source_gen/jetbrains/mps/samples/Shapes/sandbox/trace.info
/languages/jetbrains.mps.samples.Shapes/sandbox/source_gen.caches/jetbrains/mps/samples/Shapes/sandbox/dependencies
/languages/jetbrains.mps.samples.Shapes/sandbox/source_gen.caches/jetbrains/mps/samples/Shapes/sandbox/generated
/languages/jetbrains.mps.samples.Shapes/sandbox/source_gen.caches/deps.cp
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/BehaviorAspectDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/Canvas__BehaviorDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/Circle__BehaviorDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/ColorReference__BehaviorDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/PreviewFactory.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/Shape__BehaviorDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/Square__BehaviorDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/behavior/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/checkpoints
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/Circle_Constraints.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/ConstraintsAspectDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/Square_Constraints.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/constraints/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Canvas_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Canvas_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Canvas_ScenePreview_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Canvas_ScenePreview_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Circle_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Circle_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Circle_ShapePreview_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Circle_ShapePreview_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Color_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Color_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/ColorReference_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/ColorReference_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/ColorReference_SubstituteMenu.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/EditorAspectDescriptorImpl.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/ShapeColor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/ShapeColor_ComponentBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Square_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Square_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Square_ShapePreview_Editor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/Square_ShapePreview_EditorBuilder_a.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/editor/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/intentions/IntentionsDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/intentions/PreviewScene_Intention.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/intentions/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/checkpoints
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/ConceptPresentationAspectImpl.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/LanguageConceptSwitch.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/StructureAspectDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/structure/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/typesystem/aspectcps-descriptorclasses.mps
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/typesystem/checkpoints
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/typesystem/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/typesystem/TypesystemDescriptor.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/Language.java
/languages/jetbrains.mps.samples.Shapes/source_gen/jetbrains/mps/samples/Shapes/trace.info
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/behavior/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/behavior/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/constraints/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/constraints/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/editor/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/editor/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/intentions/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/intentions/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/structure/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/structure/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/typesystem/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/typesystem/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/dependencies
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/jetbrains/mps/samples/Shapes/generated
/languages/jetbrains.mps.samples.Shapes/source_gen.caches/deps.cp
